@define-color accent_bg_color #b080ff;
@define-color accent_fg_color #19161d;
@define-color accent_color #b080ff;

@define-color destructive_bg_color #ff8080; 
@define-color destructive_fg_color #19161d;
@define-color destructive_color #ff8080;

@define-color success_bg_color #80ffb5;
@define-color success_fg_color #19161d;
@define-color success_color #80ffb5;

@define-color warning_bg_color #ffcf99;
@define-color warning_fg_color #19161d;
@define-color warning_color #ffcf99;

@define-color error_bg_color #ff8080;
@define-color error_fg_color #19161d;
@define-color error_color #ff8080;

@define-color window_bg_color #19161d;
@define-color window_fg_color #ffffff;

@define-color view_bg_color #28242e;
@define-color view_fg_color #ffffff;

@define-color headerbar_bg_color #19161d;
@define-color headerbar_fg_color #ffffff;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color #211d25;

@define-color card_bg_color #211d25;
@define-color card_fg_color #ffffff;
@define-color card_shade_color #211d25;

@define-color popover_bg_color #28242e;
@define-color popover_fg_color #ffffff;

@define-color sidebar_backdrop_color #28242e;
@define-color sidebar_bg_color #28242e;
@define-color sidebar_fg_color #ffffff;

/* Target the specific row in the sidebar that's selected */
/* .navigation-sidebar row:selected {
  background-color: #b080ff;
  color: #19161d;
} */


/* Target the label in the selected row */
/* .navigation-sidebar row:selected .sidebar-label {
  color: #191724; 
} */

/* Hover effect for non-selected rows */
/* .navigation-sidebar row:hover:not(:selected) {
  background-color: #c4a7e733;
} */